body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Hanken Grotesk', sans-serif;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url(/results-summary-component-main/assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

.container {
    width: 80vh;
    height: 500px;
    display: flex;
    box-shadow:0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.title {
    opacity: 70%;
}

p {
    font-size: 18px;
}

.left, .circle {
    background: linear-gradient(to bottom, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
}

.left { 
    flex: 1;
    text-align: center;
    color: white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 200px;
    height: 200px;
    background-color: purple;
    display: inline-block;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    font-size: 60px;
    font-weight: bolder;
}

.total {
    opacity: 70%;
}

.right {
    background-color: white;
    flex: 1; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right li div{
    display: flex;
}

.right li div p{
    margin-left: 10px;
}

.right ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
}

.right ul li{
    list-style-type: none;
    border-radius: 5%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 10px;
    min-width: 250px;
}

.right h3 {
    align-self: flex-start;
    margin: 0px 0px 0px  30px;
    font-size: 25px;
}

.right button {
    align-self: center;
    background-color: hsl(224, 30%, 27%);
    color: white;
    border-style: none;
    width: 250px;
    height: 40px;
    border-radius: 20px 20px 20px 20px;
    font-size: 15px;
}

.right img {
    margin-left: 10px;
}

.right .fraction {
    margin-right: 10px;
}

.right .reaction div{
    color: hsl(0, 100%, 67%);
}

.right .memory div {
    color: hsl(39, 100%, 56%);
}

.right .verbal div {
    color: hsl(166, 100%, 37%);
}

.right .visual div {
    color: hsl(234, 85%, 45%);
}

.reaction{
    background-color: hsla(0, 100%, 67%, 0.075);
}
 

.memory {
    background-color: hsla(39, 100%, 56%, 0.075);
}

.verbal {
    background-color: hsla(166, 100%, 37%, 0.089);
}

.visual {
    background-color: hsla(234, 85%, 45%, 0.096);
}


.attribution { 
    font-size: 18px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


